.music {
    @apply relative h-full w-full py-12 md:py-16;
   

    &::after {
        @apply content-[''] absolute top-0 left-0 w-full h-[10%] z-[0];
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0)100%);


    }

    &::before {
        @apply content-[''] absolute top-0 left-0 w-full h-full z-[0] grayscale bg-cover bg-right md:bg-center;

       background-image: var(--bgdesk-music);
    }

    // &::before {
    //     @apply content-[''] absolute top-0 left-0 w-full h-[10%] z-[3];
    //     background-image: linear-gradient(to top, rgba(0,0,0,0) , rgb(0, 0, 0)100%);
    // }

    &__square {
        // @apply px-4 py-10 w-full md:w-[32rem] flex flex-col justify-center items-center relative gap-4 rounded-lg overflow-hidden ;
        @apply relative rounded-3xl overflow-hidden px-2 py-4 md:p-8 flex flex-col items-center justify-center gap-6 w-full max-w-[32rem] opacity-90 backdrop-blur md:backdrop-blur-sm border-gray border-[1px] bg-black/80 md:bg-transparent;


    }

    .c-streaming {
        @apply flex justify-center items-center gap-3 md:gap-5 flex-row px-4;

        &__link {
            @apply hover:opacity-80 block text-center transition duration-300 ease-in-out scale-95 hover:scale-100;

            svg {
                @apply mx-auto transition duration-300 ease-in-out;
            }
        }
    }
}