.music {
    @apply relative h-full w-full pt-12 md:py-16;
    background: transparent;

    /* 🔥 MOBILE – SOMENTE COR/GRADIENTE */
    @media (max-width: 767px) {
        background: #000000 !important;
    }


    &__isActive {
        &::after {
            @apply content-[''] absolute top-0 left-0 w-full h-[10%] z-[0];
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0)100%);
        }
    }

    &::before {
        @apply content-[''] absolute bottom-0 left-0 w-full z-[0] h-[10%];

        background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)100%);
    }

    &__square {
        @apply relative rounded-2xl flex flex-col items-center justify-center w-full h-[28.5rem] max-w-[31rem] opacity-90 px-0 py-0;

        &::before {
            @apply content-[''] absolute top-0 left-0 w-full h-full z-[-1] rounded-2xl overflow-hidden;
            background-color: #800400;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 80%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.7);
            border-left: 1px solid rgba(255, 255, 255, 0.7);
            border-right: 1px solid rgba(255, 255, 255, 0.7);
            border-radius: 0 0 1rem 1rem;
            pointer-events: none;
            z-index: 1;
            -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 50%);
            mask-image: linear-gradient(to bottom, transparent 0%, black 50%);
        }
    }

    .c-streaming {
        @apply flex justify-center items-center gap-3 md:gap-5 flex-row px-4;

        &__link {
            @apply hover:opacity-80 block text-center transition duration-300 ease-in-out scale-95 hover:scale-100 text-transparent;

            svg {
                @apply mx-auto transition duration-300 ease-in-out;
            }
        }
    }

    .music__logo img {
        opacity: 0.14;
        /* transparência */
        filter: sepia(100%) saturate(900%) hue-rotate(-40deg) brightness(110%);
        /* cria um tom DOURADO */
        pointer-events: none;
    }

}