.video {
    @apply bg-black w-full  md:py-16 relative md:bg-center font-tertiary overflow-hidden;



    // &:before {
    //     @apply content-[''] absolute top-0 left-0 w-full h-full bg-black/70 md:bg-black/30
    // }

    &::before{
        @apply content-[''] absolute -top-20 left-0 w-full h-[15%] z-[0];
        background-image: linear-gradient(to bottom, rgba(0,0,0,0) , rgb(0, 0, 0)100%);

    }

    &::after{
        @apply content-[''] absolute top-0 left-0 w-full h-[15%] z-[0];
        background-image: linear-gradient(to top, rgba(0,0,0,0) , rgb(0, 0, 0)100%);

    }

    &__iframe {
        @apply aspect-video w-full;
    }


    &__info {
        @apply w-full lg:w-4/12 flex flex-col justify-between gap-12 md:gap-8;

        .title {
            @apply text-white md:text-lg font-light uppercase tracking-[.15rem] mb-4;
            

            &--border-right {
                @apply flex items-center gap-3;

                &:after {
                    content: '';
                    @apply flex-1 border-b border-white;
                    position: relative;
                    z-index: 1;
                }
            }

            &--border-left {
                @apply flex items-center gap-3 text-white;

                &:after {
                    content: '';
                    @apply flex-1 border-b border-white;
                    position: relative;
                    z-index: 1;
                }
            }
        }

        .name {
            @apply text-left text-white hover:text-white/80 text-base md:text-sm md:leading-snug font-bold normal-case tracking-[.0rem] leading-5 relative items-center flex;

            &--border-left {

                &:before {
                    content: '';
                    @apply w-6/12 border-b border-white left-[-50%] md:left-[calc(-52%)];
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 1;
                }
            }

            &--border-right {
                @apply text-primary;

                &:before {
                    content: '';
                    @apply w-6/12 border-b border-white right-[-50%] md:right-[calc(-50%+1.2rem)];
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 1;
                }
            }
        }
    }


    .c-navigation {
        @apply w-full flex justify-between mt-12 lg:mt-8;

        &__button {
            @apply text-white font-semibold text-base tracking-[.15em] cursor-pointer hover:opacity-70 relative pb-1;

            &:before {
                content: "";
                @apply w-[30%] h-[2px] absolute -bottom-0 bg-white rounded-full pointer-events-none;
                transition: .5s;
                -webkit-transition: .5s;
            }


            &:hover {
                &:before {
                    @apply w-full
                }
            }

            &:first-child {
                &::before {
                    @apply right-0;
                }
            }

            &:last-child {
                &::before {
                    @apply left-0;
                }
            }
        }
    }
}

.youtube-facade {
    @apply relative w-full h-full bg-cover bg-center cursor-pointer rounded-lg overflow-hidden flex justify-center items-center;
}
