.hero {

    @apply w-full pb-8 lg:pb-10 h-[90vh] md:h-screen relative;
    background-image: var(--bgdesk-home);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

   

    &::before {
        @apply content-[''] absolute bottom-0 left-0 h-[40%] w-full;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));

    }

    &::after {
        @apply content-[''] absolute top-0 left-0 h-[10%] w-full;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));

    }

    &__logo {
        @apply h-10 lg:h-36 pointer-events-none object-contain relative;
    }

    &__scroll {
        @apply flex flex-col justify-center items-center relative;
    }
}

.effect-up {
    -webkit-animation: slide-bottom 1.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
    animation: slide-bottom 1.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.nav-social {
    @apply px-2 py-3 bg-transparent border-gray rounded-2xl hidden lg:flex z-[1];
}