.hero {

    @apply w-full pb-8 lg:pb-10 h-[90vh] md:h-screen relative;
    background-image: var(--bgdesk-home);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;



    &::before {
        @apply content-[''] absolute bottom-0 left-0 h-[40%] w-full;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));

    }

    &::after {
        @apply content-[''] absolute top-0 left-0 h-[10%] w-full;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));

    }

    &__logo {
        @apply h-10 lg:h-36 pointer-events-none object-contain relative;
    }

    &__scroll {
        @apply flex flex-row justify-center items-center relative gap-4;
    }
}


.effect-up {
  animation: float-down 3.4s ease-in-out infinite;
}

@keyframes float-down {
  0% {
    transform: translateY(-4px); /* começa mais no alto */
    opacity: 0.9;
  }
  50% {
    transform: translateY(0px); /* desce */
    opacity: 1;
  }
  100% {
    transform: translateY(-4px); /* volta pro início */
    opacity: 0.9;
  }
}


@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.nav-social {
    @apply px-2 py-3 hidden rounded-l-xl lg:flex fixed right-0 top-[30%] z-[3] border-y border-l overflow-hidden;

    &::before{
        @apply content-[''] absolute inset-0 opacity-80;
        background-color: #D9A159;
        z-index: -1; // fica atrás e preserva a borda
    }
}
