.details-news {
    @apply bg-white pb-12 md:py-16 md:mt-16 flex flex-col max-w-2xl mx-auto;

    &__title {
        @apply font-bold text-3xl md:text-4xl lg:leading-[1.15] text-left order-3 md:order-2 mb-3;
    }

    &__subtitle {
        @apply text-black text-base font-medium md:text-xl order-4 md:order-3 mb-3;
    }

    &__exclusive {
        @apply bg-white border-2 border-secondary rounded text-sm text-secondary uppercase font-bold py-2 px-4 w-max mx-auto md:mx-0;
    }

    &__author {
        @apply text-gray text-xs md:text-base font-medium mb-3;
    }

    &__description {
        @apply text-base md:text-lg font-medium text-gray;
    }

    .link-social {
        @apply transition ease-in-out duration-300 text-xs text-white font-black py-2 px-6 flex items-center rounded;

        &__icon {
            @apply h-6 w-6 object-contain fill-white;
        }
    }

    .box-figure {
        @apply bg-black/10 aspect-[4/3] mb-8;

        &__image {
            @apply w-full h-full;

            img {
                @apply w-full h-full;
            }

        }

        &__caption {
            @apply w-full bg-gray-dark relative flex flex-col py-2 px-4;

            .caption-title {
                @apply text-sm text-white font-medium;
            }

            .caption-reference {
                @apply text-xs text-white;
            }
        }
    }

    .box-tags {
        @apply flex items-center gap-3 my-4 ;

        .tag {
            @apply text-black bg-white border border-black uppercase rounded text-sm font-extrabold py-3 leading-none px-6 hover:bg-black hover:text-white transition ease-in-out duration-300;
        }
    }

    .related-news {
        &__title {
            @apply text-lg md:text-xl text-secondary font-medium mb-6 border-b-2 border-secondary;
        }

        .box-related {
            @apply flex gap-4;

            &__figure {
                @apply relative min-w-[130px] md:min-w-[140px] transition ease-in-out duration-300 border-2 border-primary;

                .box-number {
                    @apply absolute bg-white left-0 bottom-0 z-[1] px-1 w-8;
                }
            }

        }
    }
}