.biography {
    @apply lg:h-screen pb-12 lg:py-16  flex flex-col  relative bg-no-repeat bg-black;
    background-position: center;
    background-size: cover;

    @media (max-width: 769px) {
        background: none !important;
        background-color: black !important;
    }

    &::before {
        @apply content-[''] absolute top-0 md:top-auto md:bottom-0 left-0 h-[20.5rem] lg:h-[90%] w-full;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));

    }
    &::after{
        @apply content-[''] absolute top-0 left-0 w-full h-[10%] z-[3];
        background-image: linear-gradient(to top, rgba(0,0,0,0) , rgb(0, 0, 0)100%);
    }

    .image-biography {
        @apply w-full h-full md:hidden relative;

        &::before {
            @apply content-[''] absolute bottom-0 md:bottom-0 left-0 h-[10%] w-full z-[2];
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));

        }
    }

    .card {
        @apply  lg:flex w-full gap-16 pt-4 md:pt-12;


        &__title {
            @apply text-primary font-secondary text-left text-3xl lg:text-2xl underline underline-offset-[0.75rem] decoration-white tracking-[.11em] lg:tracking-[.15em] font-black uppercase pb-4 lg:pb-0;
        }

        &__description {
            @apply text-left md:text-center text-base lg:text-lg text-white h-[17rem] text-balance;
            overflow: auto;
            direction: ltr;
            padding-right: 1rem;

            p {
                @apply block pb-4;
            }

            @media (max-width: 768px) {
                height: 14.5rem;
                overflow: hidden;
                padding-right: 0;
            }

            &.active {
                @apply line-clamp-none;
                height: auto;
            }

            &::-webkit-scrollbar {
                width: 6px;
                height: 16px;
            }

            &::-webkit-scrollbar-thumb {
                // background: $color-secondary;
                @apply bg-white;
                padding: 0;
                height: 5px;
                border-radius: 85px;

            }

            &::-webkit-scrollbar-track {
                //   background: $color-secondary;
                @apply bg-white/50 border-2 border-black/60;
                border-radius: 7px;
                border: 2px solid rgba(35, 32, 33, .9);
                padding: 0 2px;
            }

            &::-webkit-scrollbar-corner {
                background: transparent;
            }
        }
    }

}
