.c-nav {
    @apply px-7 flex flex-col md:flex-row md:items-center justify-center gap-5 lg:gap-10 md:backdrop-blur-sm rounded-full md:border-[0.5px] border-gray;

    &--vertical{
        @apply gap-2 flex-col items-start;
    }

    &__item {
        @apply text-xl md:text-base text-white font-tertiary font-semibold tracking-tight cursor-pointer relative leading-none transition-all ease-in-out duration-300 bg-transparent;
        &:hover {
            filter: drop-shadow(0 0 1px rgba(255, 255, 255, 1)) drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
        }
    }
    .is-active {
        filter: drop-shadow(0 0 1px rgba(255, 255, 255, 1)) drop-shadow(0 0 15px rgba(255, 255, 255, 0.8));
    }
}


