.modal-mask {
  @apply fixed inset-0 z-[45] w-full h-screen bg-black/80 overflow-auto transition-opacity duration-300 ease-in-out;
  backdrop-filter: blur(10px);
}

.modal-wrapper {
  @apply w-full relative flex flex-col justify-center pt-4 pb-10;
  min-height: calc(100% - 136px);
}

.modal-container {
  @apply mx-auto relative rounded-lg transition-all duration-300 ease-in-out;
}

.modal-header {
  @apply relative;
}

.modal-default-button {
  @apply w-10 h-10 rounded-full relative flex items-center justify-center transition duration-300;
  top: 0;
  right: 0;
}

.modal-enter-from {
  @apply opacity-0;
}

.modal-leave-to {
  @apply opacity-0;
}

.modal-enter-from .modal-container,
.modal-leave-to .modal-container {
  @apply bg-white;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
}
