.calendar {
    @apply relative pb-28 md:pt-16 w-full h-full md:h-full overflow-hidden;
    background-image: var(--bgdesk-calendar);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: top left !important;

    @media (max-width: 769px) {
        background: none !important;
        background-color: black !important;
    }

    &::after {
        @apply content-[''] absolute bottom-0 left-0 w-full h-[0%] md:h-[15%] z-[1];
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)100%);
    }

    &::before {
        @apply content-[''] absolute top-0 left-0 w-full h-[10%] z-[3];
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0)100%);
    }

    .swiper-pagination-custom {
        @apply flex justify-center items-center mt-6 gap-2 h-0 w-full -bottom-[3rem] !z-[1000];
        position: relative !important;
        /* evita bug de posicionamento */
    }

    /* Estilo dos bullets */
    .swiper-pagination-custom-bullet {
        @apply w-3 h-3 rounded-full bg-gray-400 opacity-70 transition-all duration-300;
    }

    /* Bullet ativo */
    .swiper-pagination-custom-bullet-active {
        @apply bg-white opacity-100 w-4 h-4;
    }




}

.swipper-navigation {

    @apply md:flex flex-row justify-between absolute items-center top-[50%] w-[38rem] hidden right-0;


    .swiper-nav-button {
        @apply border-[2px] border-white rounded-full cursor-pointer hover:opacity-70 relative;

    }

}