.calendar-page {
  @apply min-h-screen w-full py-12 md:pt-32 md:pb-16 relative;

  background: linear-gradient(
    to bottom,
    rgb(23, 15, 7) 0%,
    rgb(32, 22, 10) 40%,
    rgb(47, 30, 12) 70%,
    rgb(40, 25, 10) 80%,
    rgb(20, 14, 8) 100%
  );
}

.c-list {
  @apply w-full py-10 md:py-14 relative;
  

  &__item {
    @apply px-6 py-7 md:px-8 md:py-4 flex flex-col md:flex-row 
           items-center gap-3 md:gap-7 relative overflow-hidden;

    background: #1a1408;

    border: 1px solid transparent;

    background:
      linear-gradient(to left, #191005, rgba(255,255,255,0)) padding-box,
      linear-gradient(to right, rgba(255,255,255,0), rgba(109, 109, 109, 0.924)) padding-box;

      

    border-radius: 0;


    .bg-schedule {
      @apply w-full h-full absolute top-0 left-0 z-[0];
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-position: center center !important;
      transition: .3s ease-in-out;

      &:before {
        content: '';
        @apply absolute top-0 left-0 w-full h-full;
        transition: .3s ease-in-out;
      }
    }

    &:hover .bg-schedule:before {
      backdrop-filter: blur(10px);
    }
  }

  &__month {
    @apply text-[#FCF3DD] tracking-wider font-secondary text-2xl md:text-xl uppercase -mt-2;
  }

  &__day {
    @apply text-7xl md:text-6xl font-secondary font-bold uppercase md:pt-2;

    background-image: url('/images/bg-number.webp');
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    color: transparent;
  }

  &__name {
    @apply text-xl md:text-xl text-center md:text-left tracking-[.01em] font-medium text-white/80;
  }

  &__city {
    @apply text-[#FCF3DD] text-lg md:text-lg font-semibold text-center md:text-left tracking-[.02em] uppercase;
  }

  &__corporate {
    @apply text-xl md:text-xl text-[#FCF3DD] text-center md:text-left tracking-[.01em] font-medium;
  }

  &__details {
    @apply text-secondary text-sm font-black uppercase;
  }

  /* swiper */
  .swipper-navigation {
    @apply w-full mt-5 hidden md:block;
  }

  .swiper-nav-button {
    @apply text-secondary font-secondary font-semibold text-lg tracking-[.15em] cursor-pointer hover:opacity-70 relative;

    &:before {
      content: "";
      @apply w-[30%] h-[3px] absolute -bottom-0 bg-primary;
      transition: .5s;
    }

    &:hover:before {
      @apply w-full;
    }

    &.custom-prev-button:before { @apply right-0; }
    &.custom-next-button:before { @apply left-0; }
  }

  .swiper-button-disabled { visibility: hidden; }
}
