.menu-desktop {
    @apply w-full md:py-4 lg:py-5 justify-center fixed top-0 left-0 z-10 hidden lg:block transition-all ease-in-out duration-300;

}

.menu-mobile {
    @apply inline md:hidden;

    .menu-nav {
        @apply fixed bottom-0 z-[99999] flex gap-0.5 w-full ;

        &__item {
            @apply bg-primary flex-1 flex flex-col gap-0.5 items-center justify-between py-2.5 text-sm leading-none font-semibold;
        }

        .o-hamburguer {

            .trace {
                @apply w-6 h-7 flex items-center justify-center;

                span {
                    @apply w-full h-[0.15rem] bg-black relative rounded-full;
                    transition: 0.2s ease-in-out, top 0.2s ease-out;

                    &:before,
                    &:after {
                        content: "";
                        @apply w-full h-full bg-black absolute left-0 rounded-full;
                        transition: 0.2s ease-in-out, top 0.2s ease-out;
                    }

                    &:before {
                        top: 7px;
                    }

                    &:after {
                        bottom: 7px;
                    }
                }
            }

            &.active {
                .trace span {
                    background-color: transparent;
                    transition: 0.2s ease-out;

                    &:before {
                        top: 0 !important;
                        transform: rotate3d(0, 0, 1, -45deg);
                    }

                    &:after {
                        top: 0 !important;
                        transform: rotate3d(0, 0, 1, 45deg);
                    }
                }
            }
        }
    }

    .menu-body {
        @apply fixed top-0 z-[99999] bg-black/80 flex-1 flex items-center h-[calc(100dvh-4rem)] backdrop-blur w-full translate-y-[120%] transition-all ease-in-out duration-300;

        &.active{
            @apply translate-y-0;
        }

        .box-social {
  @apply px-5 py-8 flex h-full flex-col justify-between;

  /* Gradiente personalizado substituindo a cor sólida */
  background: linear-gradient(
    0deg,
    rgb(23, 15, 7) 0%,
    rgb(32, 22, 10) 40%,
    rgb(47, 30, 12) 70%,
    rgb(40, 25, 10) 80%,
    rgb(20, 14, 8) 100%
  );

  &__title {
    @apply text-[#fcf3dd] text-3xl font-extrabold tracking-[0.15rem];
    text-orientation: mixed;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
  }
}


        .sing{
            @apply absolute bottom-0 bg-black py-3 w-full;
        }
    }
}

.nav-social {
    @apply fixed right-0 px-3 py-5 top-36 bg-secondary border-gray rounded-l-2xl hidden lg:block z-[12];
}
