.contact {
    @apply w-full pt-0 md:pt-0 bg-black relative overflow-hidden bg-contain bg-no-repeat bg-center;
    background-image: var(--bgdesk-contact);

    @media (max-width: 769px) {
        background-image: none;
    }

    // &:before {
    //     @apply content-[''] absolute right-0 top-0 h-[calc(100%+0.25rem)] w-full;
    //     background-image: linear-gradient(to right, rgba(0, 113, 85, 0) -20%, rgb(1, 80, 60));
    //     backdrop-filter: blur(5px);
    // }

    // &::after{
    //     @apply content-[''] absolute top-0 left-0 w-full md:h-[10%] z-[2];
    //     background-image: linear-gradient(to top, rgba(0,0,0,0) , rgb(0, 0, 0)100%);
    // }

  

    .department {

        @apply  border border-primary/30 md:border-none px-3 py-4 rounded-xl;

        &__name {
            @apply bg-transparent w-full text-start md:w-max text-2xl !font-extrabold md:text-xl rounded-full md:px-4 md:py-2 md:font-normal uppercase text-white font-tertiary cursor-pointer md:text-right md:border-[1px];
        }

        .box {
            @apply hidden flex-col bg-black md:bg-transparent p-0 overflow-hidden rounded-b-lg;

            &__responsible {
                @apply text-base md:text-xl mt-3 font-semibold text-left md:text-right text-white md:pr-1;
            }

            &__phone {
                @apply text-lg md:text-xl md:text-right font-medium text-white md:pr-1;
            }

            &__mail {
                @apply text-base mb-4 md:text-xl md:text-right font-medium text-white md:pr-1 truncate;
            }

            &__url {
                @apply text-base md:text-xl md:text-right font-medium text-white md:pr-1;
            }

            // &.active {
            //     @apply flex;
            // }
        }

    }


    .c-download {
         @apply relative z-[1] order-3 md:order-4 mb-8 md:mb-0 flex flex-col md:flex-row  gap-4  ;

        &__download {
            @apply w-full md:w-max border-white text-black font-black border-[1px] font-tertiary rounded-full px-6 py-2 hover:opacity-80 text-lg transition duration-300 ease-in-out z-[10] relative italic;

            &::before {
                @apply content-[''] absolute top-0 left-0 w-full h-full z-[-1] rounded-full brightness-[180%];
                background-image: url('/images/fundo-dourado.avif');
            }
        }
    }

}