.news {
    @apply w-full py-10 md:py-16 bg-secondary;

    .card-news {
        @apply w-full flex flex-col-reverse;

        &__title{
            @apply text-white font-semibold text-lg md:text-xl md:absolute left-0 md:top-[50%] md:translate-y-[-50%] md:w-[calc(100%-12rem)] z-[1] mt-5 md:mt-0;
        }

        &__image{
            @apply w-full aspect-[6/4] object-cover grayscale opacity-40  ;
        }
    }

    .swipper-navigation {
        @apply hidden md:flex md:flex-col justify-between items-center gap-8;

        .swiper-nav-button {
            @apply text-white font-semibold text-base tracking-[.15em] cursor-pointer hover:opacity-70 relative pb-1;

            &:before {
                content: "";
                @apply w-[30%] h-[2px] absolute -bottom-0 bg-white rounded-full pointer-events-none;
                transition: .5s;
                -webkit-transition: .5s;
            }

            &:hover {
                &:before {
                    @apply w-full
                }
            }

            &:first-child {
                &::before {
                    @apply right-0;
                }
            }

            &:last-child {
                &::before {
                    @apply left-0;
                }
            }

            &:disabled {
                visibility: hidden;
            }
        }


    }
}