.c-card {

  &__item {
        @apply relative overflow-hidden  h-full flex flex-1 font-tertiary rounded-2xl py-5 px-5;

        // .bg-schedule {
        //     background-repeat: no-repeat !important;
        //     background-size: cover !important;
        //     background-position: center center !important;
        //     transition: .3s ease-in-out;
        //     -webkit-transition: .3s ease-in-out;
        //     @apply w-full h-full absolute top-0 left-0 z-[0];

        //     &:before {
        //         content: '';
        //         width: 100%;
        //         height: 100%;
        //         position: absolute;
        //         top: 0;
        //         left: 0;
        //         transition: .3s ease-in-out;
        //     }
        // }

        // &:hover {
        //     .bg-schedule {
        //         &:before {
        //             backdrop-filter: blur(10px);
        //         }
        //     }
        // }

        // &:nth-child(even){
        //    color: white!important;
        // }

    }

    
    // &__card {
    //     @apply w-full flex flex-col  text-start justify-center gap-3 h-full border-r-[1px] rounded-r-2xl relative py-4 backdrop-blur-3xl border-y-[1px];
    //     border-image: 1px solid linear-gradient(to left, rgba(255, 255, 255, 0) , rgb(255, 255, 255)100%);
    //     &::before{
    //         @apply content-[''] absolute top-0 left-0 w-full h-full z-[-1] rounded-r-2xl;
    //         background-image: linear-gradient(to left, #36220B , rgba(255, 255, 255, 0)100%);
    //     }
    // }
    &__card {
        @apply w-full flex flex-col text-start justify-center h-full rounded-r-2xl relative py-6 px-2;
        background: linear-gradient(to left, #36220B, rgba(255,255,255,0)) padding-box,
                    linear-gradient(to right, rgba(255,255,255,0), rgb(255, 255, 255)) border-box;
        border: 1px solid transparent;

        &-desktop {
            @apply w-full flex flex-col text-start justify-center border-[1px] border-white h-full rounded-2xl relative py-4 px-2;
            background: linear-gradient(to left, #36220B, rgba(255,255,255,0)) padding-box,
                        linear-gradient(to right, rgba(255,255,255,0), rgb(255, 255, 255)) border-box;
        }
    }


    &__month {
        @apply text-white -mb-1 font-medium tracking-[0.1rem] md:tracking-[0rem] text-lg md:text-lg capitalize leading-none font-tertiary ;
    }

    &__day {
        @apply  text-white text-[7rem] md:text-[7rem] font-bold uppercase leading-none brightness-[180%];

        background-image: url('/images/bg-number.webp'); /* sua imagem */
        background-size: cover;
        background-position: center;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }

    &__state {
        @apply text-white text-lg md:text-base font-medium font-tertiary;
    }

    &__city {
        @apply text-white text-xl md:text-base tracking-[.1rem] uppercase font-tertiary font-medium line-clamp-1;
    }

    &__corporate {
        // @apply text-white text-lg md:text-sm tracking-[.15em] font-black uppercase truncate pb-1;
        @apply text-black text-sm md:text-xs font-sans font-medium uppercase bg-primary  rounded-full px-4 md:px-[1rem] py-1.5 md:py-1 w-full md:w-max text-center ;
    }

    &__details {
        @apply text-black text-sm md:text-xs font-sans font-medium uppercase bg-primary md:mt-2 rounded-full px-4 md:px-[1.3rem] py-1.5 md:py-1 w-full md:w-max text-center;
    }



}
